<header id="home">
    <a href="#" class="logo">Araj.Ibrahim</a>
    
    <nav>
        <a href="#home" class="active">Home</a>
        <a href="#services">Services</a>
        <a href="#skills">Skills</a>
        <a href="https://supmti.ac.ma/#education" target="_blank">Education</a>
        <a href="#experience">Experience</a>
        <a href='/contact' style="cursor: pointer;">Contact</a>

    </nav>
</header>

<section id="home" class="home">
    <div class="home-img">
        <div class="album">
            <img src="assets/images/image2.jpeg" alt="image2">
            <img src="assets/images/image1.jpeg" alt="image2">
        </div>
    </div>
    <div class="home-content">
        <h1>Hi, It's <span>Araj Ibrahim</span></h1>
        <h3 class="typing-text">I'm a <span></span></h3>
        <p>
            I am a dedicated software engineer with expertise in full stack development. I studied at Sup Mti, a leading higher education institution in Morocco specializing in management, information technology, and engineering.
            During my academic journey, I completed a six-month final project at Algolus, where I gained hands-on experience working with ReactJS and Symfony. Following that, I undertook a professional internship at Digital State Company, focusing on full stack development using Java Spring Boot and Angular.
            My background equips me with a solid foundation in both front-end and back-end technologies, allowing me to build robust and efficient applications.
        </p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/ibrahim-araj/" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/IbrahimoOox" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
            <a href="https://x.com/ibrahimocc3" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/ibrahim__araj/" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
        </div>
        
        <a href="/contact" class="btn">Contact me</a>

    </div>
</section>

<!-- Section 2: Services -->
<section id="services" class="services py-5">
    <div class="container">
        <div class="row service-cards text-center">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="/assets/images/ads.jpeg" alt="Instagram Ads" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Instagram Ads / Collaboration</h5>
                        <p class="card-text">Reach a wider audience and enhance brand visibility through Instagram ads and collaborations. <br><br>Fashion | Clothing | Style</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="/assets/images/dev-app.jpg" alt="Application Development" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Application Development</h5>
                        <p class="card-text">Build fast, scalable web and mobile apps using modern frameworks. I deliver secure and user-friendly solutions tailored to your business needs.</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card service-card">
                    <img src="/assets/images/design.jpeg" alt="Design & Templates" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Design & Templates</h5>
                        <p class="card-text">Create visually appealing and responsive card designs and templates tailored for websites and mobile apps.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services-description" class="services-description">
        <div class="container">
            <p class="services-text text-center lead">
                My comprehensive range of services is designed to elevate your brand, enhance user experience, and drive growth. 
                Whether through Instagram ads, fashion collaboration, application development, or stunning design templates, 
                let's work together to bring your vision to life!
            </p>
        </div>
    </div>
</section>

<!-- Section 3: Skills -->
<section id="skills" class="skills py-5">
    
    <h2 class="text-center mb-4 skills-title">Skills</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text">Proficient in ES6, React, and Node.js  Reactif UI.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Experienced in Java Spring Boot for backend development.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">HTML/CSS</h5>
                    <p class="card-text">Skilled in creating responsive designs and layouts.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Developing dynamic single-page applications.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">project initiation diagrams</h5>
                    <p class="card-text">Such Flowcharts ,Use case diagrams, Entity relationship Diagrams .</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card skill-card text-center p-3">
                    <h5 class="card-title">Design</h5>
                    <p class="card-text">Creating user-friendly designs and interfaces.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="skills-conclusion text-center mt-5">
        <p class="conclusion-text">
            Mastering a diverse set of skills is essential in today's fast-paced digital landscape. From dynamic web development with JavaScript and Angular to backend solutions with Java spring boot, each skill enhances the ability to create innovative solutions. Embracing design principles ensures user-friendly experiences, making technology accessible to all. Continuous learning and adaptation are keys to success in this ever-evolving field.
        </p>
    </div>
</section>
<section id="experience">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
